**/node_modules/
**/.git
**/.github
**/scripts
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/content
**/src/commands/training.js*
**/appspec.yml
**/ecosystem.config.cjs
**/.eslint.yml