**/node_modules/
**/.git
**/.github
**/scripts
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/content
**/src/commands/training.js*
**/src/commands/RemoteWake.js*
**/src/commands/*.txt
**/appspec.yml
**/ecosystem.config.cjs
**/.eslint.yml
**/corde.config.json